body {
  background: #000;
}

.loading {
  width: fit-content;
  margin: 10% auto 0;

  @media (max-width:823px) {
    margin-top: 20%;
  }

  img {
    width: 100%;
  }
}

.percent {
  color: #fff;
  text-align: center;
}